<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
  <nav>
     <div class="titulo-site">
        <a href="/"><h1>blog</h1></a>
        <p>site</p>
     </div>
     <ul>
        <li><a href="/">blog</a></li>
          <li><a href="/sobre">sobre</a></li>
            <li><a href="/blog/criar">novo blog</a></li>
     </ul>
  </nav>
  <div class="criar-conteudo-blog">
    <form>
        <label for="titulo">titulo do blog:</label>
        <input type="text" id="titulo" required>
        <label for="texto-curto"> texto curto do blog:</label>
        <input type="text" id="texto-curto" required>
        <label for="conteudo">titulo do blog:</label>
        <textarea id="conteudo" required></textarea>
        <button>enviar</button>
    </form>
</div>
</body>
</html>