<!DOCTYPE html>
<html lang="pt-br">
<%- include('./parciais/head.ejs') %>
<body>
  <!--inclusão de parcial nav-->
      <%- include('./parciais/nav.ejs') %>
  <div class = "conteudo-blog">
    <h2>tela sobre empresa</h2>

  </div>
  <%- include('./parciais/footer.ejs') %>
</body>
</html>